body {
}

.about-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    border: 8px solid #B8CB99;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
}

.bgimg-starfield {
    /*width: 100vw;
    height: 100vh;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/starfield.jpg");
    background-size: cover;
}
